<%- include('header') %>

<h1>ข้อมูลส่วนตัว</h1>

<img src="./assets/images/pic1.jpg" class="gallery" />
<img src="./assets/images/pic2.jpg" class="gallery"/>
<img src="./assets/images/pic3.jpg" class="gallery"/>

<p class="desc">
เกศรินทร์ จันทร์ศรี <br/>
อีเมล์ Asoppp36@gmail.com <br/>
โทร.083-216-5713 <br/>
</p>

<%- include('footer.ejs') %>