ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(221, 140, 33);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(252, 227, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(102, 65, 9);
    font-size: 20px;
  }

.gallery{
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  height: 400px;
}

.gallery:hover {
  border: 4px solid rgb(0, 0, 0);
  
  background-color: aqua;
}

.desc {
  padding: 15px;
  text-align: center;
}